.footer {
  background-color: var(--color-black);
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  display: flex;
  overflow-y: hidden;
}

.footer-container {
  width: 75%;
  /* height: 100%;
  margin: auto; */
  display: flex;
  flex-direction: column;
}

.footer-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lastmenu {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  width: 425px;
  height: 20px;
  margin: 100px 25% 0 25%;
  align-items: center;
  color: white;
}